@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@400;700&display=swap");

body {
  background-size: cover;
  height: 100vh;
}

.card {
  background-color: #fcbf29;
  font-family: Roboto, sans-serif;
  height: 100vh;
  border-radius: 0;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcbf29;
}

.logo {
  max-width: 100%;
}

.card-body {
  background-image: url("./assets/bg2.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  width: 70%;
  margin: 2rem;
}

.form-label {
  font-size: 1.1rem;
  font-weight: 400;
  color: #202222;
}

.form-input {
  border: 1px solid #bf3a29;
  padding: 0.8rem;
}

select {
  font-family: Roboto, sans-serif;
}

.container-error {
  display: flex;
  justify-content: right;
  margin: 0.1rem 0 0.9rem;
}

.error-message {
  color: #fff;
  font-size: 0.9rem;
  background-color: #bf3a29;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
}

.btn-login {
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: #bf3a29;
  border-color: #bf3a29;
  color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);

  --bs-btn-active-bg: #a43325;
  --bs-btn-active-border-color: #a43325;
  --bs-btn-hover-bg: #b83b2b;
  --bs-btn-hover-border-color: #a43325;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202222;
}

.card-footer:last-child {
  border-radius: 0;
}

.footer-text {
  color: #fcbf29;
  font-size: 0.8rem;
}

@media screen and (min-width: 1000px) {
  .card-body {
    background-image: url("./assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
