@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@400;700&display=swap");

body {
  background-size: cover;
  height: 100vh;
}
.card{
  --bs-card-border-color:#20222200;

}

.page-container {
  background-color: #fcbf29;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  border-radius: 0;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcbf29;
}

.logo {
  max-width: 100%;
}


.page-body{
  background-image: url("./assets/bg2.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  width: 70%;
  margin: 2rem;
}

.form-label {
  font-size: 1.1rem;
  font-weight: 400;
  color: #202222;
}

.form-input {
  border: 1px solid #bf3a29;
  padding: 0.8rem;
}

select {
  font-family: 'Roboto', sans-serif;
}

.container-error {
  display: flex;
  justify-content: right;
  margin: 0.1rem 0 0.9rem;
}

.error-message {
  color: #fff;
  font-size: 0.9rem;
  background-color: #bf3a29;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
}

.btn-login {
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: #bf3a29;
  border-color: #bf3a29;
  color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);

  --bs-btn-active-bg: #a43325;
  --bs-btn-active-border-color: #a43325;
  --bs-btn-hover-bg: #b83b2b;
  --bs-btn-hover-border-color: #a43325;
}

.container-menu {
  background-color: #00000000;
}

.nav-text
{
color:#fff;
font-family: 'Patua One', cursive;
font-size: 1.3rem;
position: relative;
}

.container-nav{
--bs-nav-link-hover-color: #ffffff;
background-color: #bf3a29;
border-radius: 0.6rem;
border: 3px solid #bf3a29;
}

.nav-text:focus::after, .nav-text:hover::after {
content:'';
background-color: #fcbf29;
position: absolute;
width: 85%;
height: 0.2rem;
top: 2.4rem;
right: 0.7rem;
z-index: 1;
}

.container-product{
  background-color: #202222;
  border: #fcbf29 solid 1px;
  margin:0.4rem;
}

.body-product{
  display: flex;
  align-items: center;
  width: 100%;
}
.left-side{
  width: 65%;
}

.right-side{
  width: 35%;
  display: flex;
  justify-content: right;
}
.text-product{
  color: #fcbf29;
  font-weight: 700;
  font-size: 1.2rem;
}

.text-product-description
{
font-size: 0.9rem;
font-weight: 400;
}

.container-product-price{

width: 80%;
}

.container-product-count{
  border:#fcbf29 1px solid;
  border-radius: 1.8rem;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.img-product{
  background: url(1909.i305.022.P.m005.c20);
  border-radius: 12px;
  width: 50%;
}

.container-product-add{
  width: 20%;
  display: flex;
  justify-content: right;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202222;
}

.card-footer:last-child {
  border-radius: 0;
}

.footer-text {
  color: #fcbf29;
  font-size: 0.8rem;
}

.user-panel {
  justify-content: space-between;
}

.user-panel-text {
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  .page-body {
    background-image: url("./assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
